<h1 id="page_title">Articles</h1>
    <div id="posts_wrapper" class="skinny_wrapper">
        <div class="post">
            <p class="date">Friday April 10</p>
            <h2><a href="#">Article 1</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Friday April 10</p>
            <h2><a href="#">Article 1</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Friday April 10</p>
            <h2><a href="#">Article 1</a></h2>
            <hr>
        </div>

    </div>
    <div class="pagination">
        <span class="previous_page disabled">← Previous</span>
        <em class="current">1</em>
        <a rel="next" href="#">2</a>
        <a href="#" class="next_page">Next →</a>
    </div>